---
//microCMS呼び出し
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getBlogs } from '@/library/microcms';
const response = await getBlogs({ fields: ['id', 'title'] });
---

<BaseLayout>
	<ul>
		{
			response.contents.map((content: any) => (
				<li>
					<a href={content.id}>{content.title}を読む</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
