---
//microCMS呼び出し
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getBlogs } from '@/library/microcms';
const response = await getBlogs({ fields: ['id', 'title'] });
---

<BaseLayout>
	<main>
		<ul>
			{
				response.contents.map((content: any) => (
					<li>
						<a href={content.id}>{content.title}</a>
					</li>
				))
			}
		</ul>
		<button class="btn btn-primary">Buttonaaa</button>
	</main>
</BaseLayout>

<style lang="scss">
	main {
		max-width: 60ch;
		padding: 1em;
		margin: auto;
		color: #ccc;
	}
</style>
